body {
    font-family: "Roboto", sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.custom-table {
    background-color: whitesmoke;
}

.custom-table thead {
    position: sticky;
    top: 0;
    background: #f2f2f2;
    z-index: 2;
}

.table-responsive {
    max-height: 500px;
    overflow-y: auto;
}

.custom-table td:first-child {
    position: sticky;
    left: 0;
    background-color: #f2f2f2;
    z-index: 1;
    border-right: 2px solid #ddd;
    /* Tambahkan border right */
}

.custom-table {
    width: 100%;
    text-align: center;
    border-collapse: separate;
    /* Don't collapse */
    border-spacing: 0;
    border-bottom: 2px solid;
    border-right: 2px solid;
}

.custom-table th {
    /* Apply both top and bottom borders to the <th> */
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-right: 2px solid;
}

.custom-table thead th {
    position: sticky;
    top: 0;
    background-color: #07559e;
    color: white;
}

.sticky-col {
    position: sticky;
    left: 0;
    z-index: 3;
    background-color: #07559e;
    border-right: 2px solid white;
}

/* .nav-link {
            color: #333;
            background-color: #edecec
        }


        .nav-link:hover {
            color: skyblue;

        }

        .nav-tabs>.active>a,
        .nav-tabs>.active>a:hover,
        .nav-tabs>.active>a:focus {
            border-color: black;
            border-bottom-color: transparent;
        }

        .nav-tabs {
            border-bottom: 1px solid black;
        } */
